<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description"
      content="fitness tracker app with mongo DB, object storage, express, express-handlebars and bootstrap-css library" />
    <meta name="author" content="attila5287">
    <link rel="icon" type="image/x-icon" class="favicon"
    href="https://raw.githubusercontent.com/attila5287/mongofitness/main/favicon.ico" />

    <title>Mongo Fitness</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/minty/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body class="my-5 py-5">
    
    <main class="container-fluid">
      {{{body}}}

    </main>


    <script src="/assets/jquery-3.js"></script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/popper.js"></script>
    <script src="/assets/bootstrap.js"></script>

  </body>

</html>
