<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description"
      content="fitness tracker app with mongo database server, mongoose ORM, client-sided indexed DB object storage, express, express-handlebars and bootstrap-css library" />
    <meta name="author" content="attila5287">
    <link rel="icon" type="image/x-icon" class="favicon"
      href="https://raw.githubusercontent.com/attila5287/mongofitness/main/favicon.ico" />

    <title>Mongo Fitness</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/css/minty/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body class="my-5 py-5">
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-primary fixed-top align-items-center">
        <div class="nav navbar-nav">
          <a class="navbar-brand text-lg font-weight-bold" href="http://mongofitness.herokuapp.com">
            <img
              src="/img/site/logo72.png"
              class="img-nav bg-transparent" alt="app-logo">

            <span class="badge badge-info p-1 text-reg">
              <span class="badge badge-light m-0 p-1 font-weight-bold  shadow-lg text-lg">
                mongo 
                <i class="fas fa-database text-info shadow-lg"></i>
                Fitness
                </span>
              Tracker
            </span>
          </a>
          
          <a class="nav-item nav-link active" href="/exercises" id="exercises_link">
            <i class="fas fa-dumbbell"></i>
            Exercises
          </a>
          
          <a class="nav-item nav-link" href="/stats" id="stats_link">
            <i class="fas fa-chart-bar"></i>
            Stats
          </a>



                  
          <a class="nav-item nav-link float-right mr-4" href="https://attila5287.github.io/">
            <img src="https://avatars.githubusercontent.com/u/42498753?s=48&v=4"
            class="infinite animated pulse img-mini bg-primary rounded-up" alt="dev-img">
        </a>
        </div>
      </nav>
    </header>

    <main class="container midi">
      {{{body}}}

    </main>


    <footer class="footer fixed-bottom mt-auto py-0 text-center bg-dark align-items-center">
      <div class="container d-flex justify-content-center align-items-end">
        <span class="text-light">
          <span class="animated bounceInDown delay-3s"><i class="mr-2 fas fa-dumbbell"
              aria-hidden="true"></i>fitness tracker app with </span>

          <span class="animated bounceInDown delay-1s"><i class="mr-2 fas fa-database"
              aria-hidden="true"></i>mongo database server, mongoose ORM, </span>


          <h1 class="text-dark fab fa-node animated infinite heartBeat delay-5s "></h1>

          <span class="animated bounceInDown delay-2s"><i class="mr-2 fas fa-tv"
              aria-hidden="true"></i>client-sided indexed DB object storage, </span>

          <span class="animated bounceInDown delay-4s"><i class="mr-2 fas fa-server"
              aria-hidden="true"></i>express, express-handlebars </span>

      </div>
    </footer>
          {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js">
          </script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js">
          </script>
          <script
              src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
          </script> --}}
    <script src="/assets/jquery-3.js"></script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/popper.js"></script>
    <script src="/assets/bootstrap.js"></script>
{{#if at_home}}
    <script src="/js/collapse/muscle_div.js"></script>
    <script src="/js/collapse/calorie_div.js"></script>
    <script src="/js/resist/menu.js"></script>
{{/if}}
  </body>

</html>
